.jumbotron{
  background-color: lightgrey;
}
.terminer{
  margin-left: 12px;
  font-size: 15px;
}

.form-control{
  font-size: 15px!important;
}
.well{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}